@import "./vars";
@import "./typography";
@import "./repeatable";
@import "~bootstrap-icons/font/bootstrap-icons.css";

/*
pagesTitle
*/
@import "./pages/index.pages";

/*
components
*/
@import "./components/index.components";



.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img {

}